* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    
    height: 100vh;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.dark {
    background: #333;
    color: #fff;
}

.dark button{
    background-color: #fff;
    border:none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color:#333
}

.dark button:hover{
    background-color: #eee;
}

/* light */

.light {
    background: #fff;
    color: #333;
}

.light button{
    background-color: #333;
    border:none;
    color:#fff;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.light button:hover{
    background-color: #222;
}